{extend name="layoutextend"} 
{block name="nav"} <ul> <li> <a href="">首页</a> <a href="">关于我们</a> <a href="">公司新闻</a> <a href="">联系我们</a> </li> </ul> {/block}
 {block name="info"} <ul> <li>欢迎来到PHP中文网学习ThinkPHP5开发技术~~</li> <li>欢迎来到PHP中文网学习ThinkPHP5开发技术~~</li> <li>欢迎来到PHP中文网学习ThinkPHP5开发技术~~</li> <li>欢迎来到PHP中文网学习ThinkPHP5开发技术~~</li> <li>欢迎来到PHP中文网学习ThinkPHP5开发技术~~</li> </ul> {/block}
 {block name="link"}{__block__} <a href="http://php.net">PHP官网</a> <a href="http://thinkphp.cn">ThinkPHP官网</a> <a href="http://bilibili.com">哔哩哔哩官网</a> {/block}

